<a href="https://colab.research.google.com/github/Nathan499/CS-167/blob/main/Project1_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project \#1 Starter Code: 
Your first step is to decide which dataset you would like to work with for this project. 

For this project, you will get to choose what dataset you use. The ones we've used in class (other than Iris/Titanic as they're pretty small) are all fair game (wine quality, breast cancer, spotify). 

Here are some other possibilities--Kaggle has many many more. It might be a good idea to double check with me before grabbing a dataset that's not listed here:
- ü•ë¬†[Avocado Prices](https://www.kaggle.com/datasets/neuromusic/avocado-prices)
- üéüÔ∏è¬†[Admission to University](https://www.kaggle.com/datasets/akshaydattatraykhare/data-for-admission-in-the-university)
- üèéÔ∏è¬†[Speed Dating](https://www.kaggle.com/datasets/whenamancodes/speed-dating)
- üéì¬†[World University Ranking](https://www.kaggle.com/datasets/whenamancodes/world-university-ranking-2022-2023)
- üì∏¬†[Top Instagram Influencers](https://www.kaggle.com/datasets/whenamancodes/top-200-influencers-crushing-on-instagram)
- üå¶Ô∏è¬†[Weather Prediction](https://www.kaggle.com/datasets/thedevastator/weather-prediction)
- ü§ë¬†[Student Monthly Expenses](https://www.kaggle.com/datasets/shariful07/nice-work-thanks-for-share)
- üç∫¬†[Student Alcohol Consumption](https://www.kaggle.com/datasets/uciml/student-alcohol-consumption)
- üè´¬†[College Score Card](https://www.kaggle.com/datasets/thedevastator/u-s-department-of-education-college-scorecard-da)
- üéÆ¬†[IMDB Video Games](https://www.kaggle.com/datasets/muhammadadiltalay/imdb-video-games)
- üéµ¬†[Spotify Recommendation](https://www.kaggle.com/datasets/bricevergnou/spotify-recommendation)

# Self-Evaluation:

| **Description/Writing** | **I think I deserve** |
|-------------------------|-----------------------|
| 1: Problem              | /2                    |
| 2: Data Prep            | /2                    |
| 3: Research             | /10                   |
| 4: Analysis             | /10                   |
| 5: Bumps in the Road.   | /1                    |
| Total                   | /25                   |

# 1. Problem:
State the problem you are trying to solve with this machine learning experiment. Include a description of the data, where you got the data, and what you're trying to predict..

*your answer here*

# 2. Data Preparation
Explain your data preparation. What did you have to do to get your data in shape for your experiments? Why are you certain that you data is clean and prepared for use in your algorithms?

*your answer here*

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
from pandas.core.groupby import DataFrameGroupBy
# load and preapre your data here:
import pandas as pd
path = '/content/drive/MyDrive/CS 167/imdb-videogames.csv'
games = pd.read_csv(path)
#Make sure to drop the plot and url columns because not able to analyze text 
#This drops both the index, names, Plot, and URL columns
games = games[['year', 'certificate', 'rating', 'votes', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller']]
games.head()

#Removing Missing values
games.isna().any()
#There are missing values in Year, Certificate, Rating, and Votes
games.year.value_counts(dropna = True)
#Removing NA Rows
games.certificate.value_counts(dropna = True)
#There are 12900 missing values in certificate
games.rating.value_counts(dropna = True)
#9203 missing value in rating
games.votes.value_counts(dropna = True)
#9203 missing values in votes

#Then create dumby variable (certificate, Genres)
#Getting dummy variables for the certificate
data = pd.get_dummies(games, columns = ['certificate'])
#replacing True and False with 0 and 1's in Genre categories
data.Action.replace(True, 1, inplace = True)
data.Action.replace(False, 0, inplace = True)
#Adventure
data.Adventure.replace(True, 1, inplace = True)
data.Adventure.replace(False, 0, inplace = True)
#Comedy
data.Comedy.replace(True, 1, inplace = True)
data.Comedy.replace(False, 0, inplace = True)
#Crime
data.Crime.replace(True, 1, inplace = True)
data.Crime.replace(False, 0, inplace = True)
#Family
data.Family.replace(True, 1, inplace = True)
data.Family.replace(False, 0, inplace = True)
#Fantasy
data.Fantasy.replace(True, 1, inplace = True)
data.Fantasy.replace(False, 0, inplace = True)
#Mystery
data.Mystery.replace(True, 1, inplace = True)
data.Mystery.replace(False, 0, inplace = True)
#Sci -Fi
data['Sci-Fi'].replace(True, 1, inplace = True)
data['Sci-Fi'].replace(False, 0, inplace = True)

#Thriller
data.Thriller.replace(True, 1, inplace = True)
data.Thriller.replace(False, 0, inplace = True)

#Splitting Testing and Training Datasets


#normalizing the data with standardscalar

,year,rating,votes,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,...,certificate_MA-13,certificate_MA-17,certificate_Not Rated,certificate_PG,certificate_PG-13,certificate_Passed,certificate_T,certificate_TV-14,certificate_TV-MA,certificate_Unrated
0,2018.0,9.2,"20,759",1,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,2018.0,9.7,"35,703",1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2013.0,9.5,"59,986",1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018.0,9.6,"26,118",1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2016.0,9.5,"28,722",1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

# 3. Research

Put your code and your experiments here.

For full credit, your experiments should include the following models:
- __k Nearest Neighbors__
- __weighted k Nearest Neighbors__
- __decision tree__
- __random forest__ 

You need to demonstrate the performance of these models on both __normalized__ and __non-normalized__ data. 

For each of the above models, you need to include a __graph of at least 1 tuned parameter__.

In [ ]:
# code goes here... don't forget to include graphs. Professor Moore loves graphs.

#4. Analysis

What did you discover? What insights/recommendations do you have? What did you find that was interesting? Which model was your best model, which models didn't work well? Why do you think this is? In general, I want a discussion of your experiment, the results, and what they mean.

This chart might help organize your results:

| **Model**     | **Non-Normalized** | **Normalized** | **Parameter Tuned** |
|---------------|--------------------|----------------|---------------------|
| kNN           |                    |                |                     |
| w-kNN         |                    |                |                     |
| decision tree |                    |                |                     |
| random forest |                    |                |                     |

*your answer here*

# 5. Bumps in the Road
What challenges did you encounter? How did you overcome these challenges?

*your answer here*